{% extends "base.html" %}

{% block title %}Manage Quizzes{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Quiz Management</h1>
    
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Chapter</th>
                    <th>Duration</th>
                    <th>Questions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.id }}</td>
                    <td>{{ quiz.name }}</td>
                    <td>{{ quiz.chapter.name }}</td>
                    <td>{{ quiz.time_duration }} mins</td>
                    <td>{{ quiz.questions|length }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary">View</a>
                        <a href="#" class="btn btn-sm btn-warning">Edit</a>
                        <a href="#" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}